<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    
    <bean name="triangle"  class="org.himanshu.spring.aop.Model.Triangle">
    	<property name="name" value="Triangle name"></property>
    </bean>
    <bean name="circle"  class="org.himanshu.spring.aop.Model.Circle">
    	<property name="name" value="Circle name"></property>
    </bean>
    <bean name="shapeService" class="org.himanshu.spring.aop.service.ShapeService" autowire="byName"/>
    <aop:aspectj-autoproxy/>
    <bean name="loggingAspect" class="org.himanshu.spring.aop.aspect.LoggingAspect"/>
    
</beans>